@model ViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Admin page</h1>

<h2>Best times</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (BestTimes item in Model.BestTimes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h2>Pending times</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (PendingBestTimes item in Model.PendingBestTimes)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                    <a asp-action="AcceptTime" asp-route-id="@item.Id">Accept</a> |
                    <a asp-action="DeleteSuggestedTime" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
